RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^invitecode/(.*?)/$							modules/xincodes/index.php?op=$1					[L,NC,QSA]
RewriteRule ^invitecode$		 						modules/xincodes/index.php							[L,NC,QSA]

